/* 侧边栏样式 */
aside {
  background-color: #F288A4;
  border-radius: 0 3px 3px 0;
  border-top-color: #F288A4;
  border-right-color: #F288A4;
  border-bottom-color: #F288A4;
  box-shadow: 0 1px 5px 1px grey;
}

.rating {
  background-color: #F0F1F2;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.rating:hover {
  color: #E43D60;
}

.bar {
  background-color: #EEBACB;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.03) 30%, rgba(0, 0, 0, 0));
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow:
    inset 1px 1px 3px white,
    inset 0 -1px 2px rgba(0, 0, 0, 0.5),
    1px 0 2px rgba(0, 0, 0, 0.5);
}

#cg {
  width: 70%;
}

#music {
  width: 60%;
}

#sys {
  width: 40%;
}

#story {
  width: 85%;
}

#total {
  width: 80%;
}

section h2, .rating a:focus, .rating a:active {
  color: #E43D60;
}

/* 正文样式 */
main {
  background-color: #F2DFE6;
}

header {
  font-family: "Lolita", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  color: #E43D60;
}
