* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #030303;
}

p {
  padding: 8px 0;
}

li {
  margin: 15%;
  list-style-type: none;
  color: #ccc;
}

h1,
h3 {                        /* 用于介绍标题 */
  font-family: "Gothic-zh-CN", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  text-align: center;
  color: #0cf;
}

/* 文本的不同样式 */
.crying span {              /* 突出强调 */
  font-family: "Lolita", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 1.5em;
}

.hide span {               /* 隐藏文本 */
  color: #141619;
  display: inline;
}

/* 左侧导航栏样式 */
.navigation {
  display: block;
  background-color: #141619;
  font-family: "MFYueHei", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  width: 13%;
  min-width: 195px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.media-navigation {
  display: none;
  background-color: #141619;
  font-family: "MFYueHei", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 3;
}

/* 正文区域样式 */
.all-text {
  width: 67%;
  height: 100%;
  margin: auto;
  background-color: #141619;
  position: relative;
  float: right;
  z-index: 2;
  border: 1px solid #141619;
  border-radius: 50px;
}

.main-context {             /* 正文文本 */
  font-family: "MFYueHei", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 0.9em;
  width: 65%;
  margin: auto;
  color: #76948b;
}

.gensei-img {               /* 正文图片 */
  width: 60%;
  max-width: 500px;
  min-width: 350px;
  border-radius: 100%;
  border-style: solid;
  border-width: 4px;
}

.art-title {                /* 正文标题 */
  margin: auto;
  text-align: center;
  font-family: "onryou", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}

/* 导航栏样式 */
#navi {
  font-family: "Medici Text", serif;
  font-size: 1.9em;
  color: #0cf;
  margin: 15%;
}

#navi-blank {
  float: right;
  width: 9%;
  min-height: 100px;
}

/* 杂项素材样式 */
#eye {
  width: 74px;
  height: 74px;
  z-index: 3;
  display: none;
  position: absolute;
}

/* 分辨率宽度在1023px以下时的排版 */
@media only screen and (max-width: 1023px) {
  .all-text {
    width: 80%;
    margin: 8% auto;
    float: none;
    display: block;
  }

  .navigation {
    display: none;
  }

  .gensei-img {
    max-width: 400px;
  }

  .media-navigation {
    display: inline;
  }

  #navi-blank {
    display: none;
  }

  #eye {
    height: 60px;
    width: 60px;
  }

  li {
    margin: 0 35px;
    width: 50px;
    display: inline-block;
    text-align: center;
  }
}
