body {
  margin: 0;
  background-color: rgb(3, 3, 3);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 15% 20%;
  list-style-type: none;
  color: rgb(204, 204, 204);
}

/* 导航栏样式 */
.navigation {
  background-color: rgb(20, 22, 25);
  font-family: "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 0.9rem;
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
}

/* 导航栏标题样式 */
.navi {
  font-family: "Medici Text", serif;
  font-size: 1.9em;
  color: rgb(0, 204, 255);
  padding: 0;
  margin: 15% 20%;
}

/* 正文区域样式 */

main {
  width: 65%;
  margin: 4% 25%;
}

h1,
.intro-head p {                        /* 用于介绍标题 */
  font-family: "Gothic-zh-CN", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(0, 204, 255);
}

section {
  background-color: rgb(20, 22, 25);
  border: 1px solid rgb(20, 22, 25);
  border-radius: 50px;
}

.main-context {             /* 正文框架 */
  width: 65%;
  margin: auto;
  color: rgb(118, 148, 139);
  text-align: center;
}

.main-context p {           /* 正文文本 */
  line-height: 2.5;
  font-family: "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 0.9em;
  text-align: left;
}

.gensei-img {               /* 正文图片 */
  width: 80%;
  max-width: 500px;
  min-width: 350px;
  border-radius: 100%;
  border-style: solid;
  border-width: 4px;
}

.art-title {                /* 正文标题 */
  margin: 1% auto 3%;
  text-align: center;
  font-family: "onryou", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}

/* 杂项素材样式 */
#eye {
  width: 40px;
  height: 40px;
  z-index: 1;
  display: none;
  position: absolute;
}

/* 响应式导航栏 */
.media-navigation {
  display: none;
  position: sticky;
  top: 0;
  background-color: rgb(20, 22, 25);
  font-family: "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 1.1rem;
}

/* 响应式排版：宽度小于800px */
@media only screen and (max-width: 800px) {
  body {
    min-width: 500px;
  }

  main {
    width: 80%;
    margin: 5% auto;
  }

  li {
    margin: 0 auto;
    width: 50px;
    text-align: center;
  }

  .navigation {
    display: none;
  }

  .media-navigation {
    display: block;
  }

  .media-navigation ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .gensei-img {
    min-width: 250px;
  }
}
