body {
  margin: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p,
a {
  font-family: "MFYueHei", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  width: 70%;
  margin: auto;
  line-height: 2.5;
}

a {
  text-decoration: none; /* delete underline */
}

article {
  margin: 30px auto;
}

#title-hide { /* Only use for hide message in the index */
  color: pink;
  background-color: pink;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  line-height: 1;
}

#main-title {
  color: hotpink;
  font-family: "Lolita", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 2% 0;
}

#ver { /* version at the bottom of page */
  font-size: 0.7em;
  text-align: center;
}
