body {
  background-color: #CCCCFF;
  display: flex;
  flex-direction: column;
}

header {
  margin: 1.2rem auto 0.8rem;
  font-family: "Lolita", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  color: #8246E8;
}

hr {
  width: 60%;
  min-width: 700px;
  margin: 0.5rem auto;
}

main {
  width: 50%;
  margin: 1.5rem auto;
  min-width: 650px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-spacing: 0 0.8rem;
  min-width: 650px;
}

tr {
  border-radius: 3px; /* 边框样式只影响阴影效果 */
  box-shadow: 0 0 3px grey;
}

tbody tr {
  transition: box-shadow 0.5s;
}

td {
  padding: 1rem;
  vertical-align: top;
}

tbody td:nth-child(4n+1) {
  display: flex;
  flex-direction: column;
}

tbody td:nth-child(4n+2) {
  text-align: center;
}

tbody td:nth-child(4n+3) {
  text-align: center;
}

tbody td:nth-child(4n+4) {
  text-align: center;
}

th {
  background-color: #FFFFCC;
  padding: 0.5rem;
}

thead th:nth-child(1) {
  border-radius: 3px 0 0 3px;
  width: 60%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  border-radius: 0 3px 3px 0;
  width: 15%;
}

tbody tr:nth-child(even) td {
  background-color: #CCFFFF;
}

tbody tr:nth-child(odd) td {
  background-color: #CCFFCC;
}

tbody tr:nth-child(even) td:first-child {
  border-radius: 3px 0 0 3px;
}

tbody tr:nth-child(even) td:last-child {
  border-radius: 0 3px 3px 0;
}

tbody tr:nth-child(odd) td:first-child {
  border-radius: 3px 0 0 3px;
}

tbody tr:nth-child(odd) td:last-child {
  border-radius: 0 3px 3px 0;
}

tbody tr:nth-child(even):hover {
  box-shadow:
    0.5rem 0.5rem 0.5rem 1px rgba(0, 0, 0, 0.7),
    0 0 0.5rem 0.1rem #CCFFFF;
}

tbody tr:nth-child(odd):hover {
  box-shadow:
    0.5rem 0.5rem 0.5rem 1px rgba(0, 0, 0, 0.7),
    0 0 0.5rem 0.1rem #CCFFCC;
}

td img {
  width: 0.65rem;
}

td img:hover {
  cursor: pointer;
}

#viewer {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  display: none;
  background-color: rgba(128, 128, 128, 0);
  transition: all 0.5s;
}

#viewer iframe {
  width: 80%;
  height: 80%;
  margin: 5rem auto;
  display: block;
  border: 1px solid #8246E8;
  border-radius: 5px;
  box-shadow: 0 0 10px #8246E8;
}

.intro {
  width: 50%;
  min-width: 600px;
  padding: 0.8rem;
  margin: 1.2rem auto;
  font-size: small;
  text-align: center;
  background-color: #FFCCCC;
  border-radius: 3px;
  box-shadow: 0 0 5px grey;
}

.detail {
  height: 0;
  display: none;
  opacity: 0;
  font-size: small;
}

.detail p {
  margin: 0.5rem;
}