html, body {
  height: 100%;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

canvas {
  width: 100%;
  height: 100%;
}

.controller {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 10%;
  left: 10%;
  width: 10%;
  color: white;
  font-size: larger;
}

button {
  margin: 0 1rem;
}

#loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 1s;
}

#container {
  width: 100%;
  height: 3px;
  margin-bottom: 10%;
  background-color: yellow;
  user-select: none;
}

#bar {
  top: -1.5rem;
  height: 1.7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: black;
  color: yellow;
  transition: width 0.5s;
}

.percentage {
  margin: 0 0.5rem;
  position: relative;
  text-align: center;
}