html, body {
  height: 100%;
  background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: display 0.5s;
}

#container {
  width: 100%;
  height: 3px;
  margin-bottom: 10%;
  background-color: yellow;
}

#bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: black;
  color: yellow;
  transition: width 0.5s;
}

.percentage {
  position: relative;
}