html, body {
  height: 100%;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

canvas {
  width: 100%;
  height: 100%;
}

.ui-top {
  position: absolute;
  top: 6%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
}

.time-axis {
  display: flex;
  align-items: center;
}

#axis {
  position: relative;
  height: 1rem;
  width: 75%;
  background-color: white;
  border-radius: 0.2rem;
}

.mark-icon {
  position: absolute;
  height: 100%;
  width: 0.5%;
}

/* 动态添加的时间轴标记，为axis轴的子元素 */
.mark {
  height: 100%;
  transform: translateX(-50%); /* 匹配图标居中 */
}

.mark-icon > .enemy.create { /* 创建敌人时 */
  background-color: orange;
}

.mark-icon > .enemy.lose { /* 敌人进入目标点时 */
  background-color: red;
}

.icon {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  top: 0.3rem;
  transform: translateX(-50%); /* 匹配标记刻线居中 */
  background-size: contain;
  background-repeat: no-repeat;
}

.detail {
  position: relative;
  top: -4rem;
  width: 5rem;
  text-align: center;
  transform: translateX(-50%);
  border-radius: 0.3rem;
  background-color: white;
  display: none;
}

.mark-icon:hover .detail {
  display: block;
}

#timer {
  margin: 0 auto;
  color: white;
}

.time-axis-controller {
  padding: 0 0.3rem;
  margin: 0 auto;
  font-size: larger;
}

#loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 1s;
}

#container {
  width: 100%;
  height: 3px;
  margin-bottom: 10%;
  background-color: yellow;
  user-select: none;
}

#bar {
  top: -1.5rem;
  height: 1.7rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: black;
  color: yellow;
  transition: width 0.5s;
}

.percentage {
  margin: 0 0.5rem;
  position: relative;
  text-align: center;
}