/* 全局CSS样式 */

html, body {
  scroll-behavior: smooth;
}

body {
  background: #F0F1F2;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: dodgerblue;
}

abbr {
  cursor: help;
  margin: 0 0.2rem;
}

del::before, del::after {
  content: ' ';
}


/* 侧边栏样式 */
aside {
  top: 12%;
  width: 20%;
  min-width: 10rem;
  position: fixed;
  font-size: small;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background-color: white;
  z-index: 1;
}

aside a:link, aside a:visited {
  color: inherit;
}

aside img {
  display: block;
  width: 85%;
  margin: 0.5rem auto;
}

aside > div {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  height: 1rem;
  width: 95%;
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: 1px solid;
  text-align: center;
  transition: all 0.5s;
}

.rating:hover {
  transition: color 0s;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}


/* 正文样式 */
main {
  position: relative;
  margin: 1rem 0;
  left: 22%;
  width: 75%;
  min-width: 36rem;
  padding: 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 1px 4px grey;
  box-sizing: border-box;
  line-height: 2;
}

h1 {
  margin: 0;
}

p {
  text-indent: 2rem;
  text-align: justify;
}

main a::after {
  content: '';
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  background: no-repeat center/contain url("../../images/external.svg");
}

/* 引文样式 */
blockquote {
  line-height: 1.15;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.update {
  margin-top: 5rem;
}

/* 游戏类型样式 */
.game-type {
  margin: 2rem 0;
}

.game-type span {
  font-size: large;
  font-weight: bold;
}

.tags {
  display: inline-block;
  width: 4rem;
  margin: 0 0.5rem;
  text-align: center;
  border: 1px solid;
  border-radius: 1.5rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#battle {
  background-color: Red;
  border-color: Red;
  color: white;
}

#thriller {
  background-color: grey;
  border-color: grey;
  color: white;
}

#suspense {
  background-color: DarkRed;
  border-color: DarkRed;
  color: white;
}

#love {
  background-color: hotpink;
  border-color: hotpink;
  color: white;
}

/* 隐藏内容样式 */
.hide {
  transition: color 0.5s;
  margin: 0 0.3rem;
  background-color: black;
  color: black;
}

.hide:hover {
  color: white;
}

.hide a {
  transition: color 0.5s;
}

.hide a:link, .hide a:visited {
  color: initial;
}

.hide:hover a {
  color: dodgerblue;
}

.hide:hover a::after {
  background: no-repeat center/contain url("../../images/external_w.svg");
}

/* 图片样式 */
.cg-middle {
  display: block;
  margin: 1rem auto;
  width: 70%;
  border: 0.5rem solid white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
  transform-origin: center;
  transition: transform 0.5s;
}

.cg-middle img {
  display: block;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
}

figcaption {
  color: dimgrey;
  text-align: center;
  font-size: small;
  line-height: 1.5;
}


/* 响应式布局 */
@media (max-width: 900px) {
  aside {
    transform: translateX(-90%);
    transition: transform 1s;
  }

  aside:hover {
    transform: translateX(0);
  }

  main {
    margin: 1rem auto;
    width: 85%;
    left: 0;
    min-width: 20rem;
  }

  .cg-middle {
    width: 90%;
  }
}
