aside {
  background-color: #F288A4;
  border-top-color: #F288A4;
  border-right-color: #F288A4;
  border-bottom-color: #F288A4;
}

.bar {
  background-color: #EEBACB;
}

main {
  background-color: #F2DFE6;
}

header {
  font-family: "Lolita", "STXihei", "Source Han Sans", "Microsoft YaHei", "SimHei", sans-serif;
  color: #F288A4;
}

.rating a:focus, .rating a:active {
  color: #FF3396;
}